<h1>Team Info</h1>
<div class="team">
  <h3>  <%= @team.name %></h3><br>
  <h4> Team Motto: <%= @team.motto %></h4><br>
</div><br>

<h2>Hero Info</h2>
<% @member.each do |member| %>
  <div class="member">
    <p> Hero Name: <%= member.name %></p><br>
    <p> Hero Power: <%= member.power %></p><br>
    <p> Hero Biography: <%= member.bio %></p><br>
  </div><br>
<% end %>
